name: Parallel 

on:
  workflow_dispatch:
    inputs:
      file:
        description: input file
        type: string
        default: ''

jobs:
  bagha:
    runs-on: ubuntu-latest
    steps: 
      - name: Mapping
        id: Map
        run:  |
          echo "starting mapping"
          declare -A container_dict
          container_dict["uat"]="fxgmsuat"
          container_dict["si"]="fxgmssi"
          container_dict["uat-eu"]="fxgmsuat"
          container_dict["perf"]="fxgmsperf"
          my_array=("uat"="fxgmsuat","si"="fxgmssi","uat-eu"="fxgmsuat","perf"="fxgmsperf")
          echo "my_arr=${my_array[@]}" >> $GITHUB_ENV
      - name: Debug
        run:  |
          echo "${{ env.container_dict }}"
         
      - name: parallel execution
        uses: azure/CLI@v1
        with:
          azcliversion: 2.42.0
          inlineScript: |
            IFS=',' read -ra container_dict <<< "${{ steps.Map.outputs.my_arr}}"
            for val in "${container_dict[@]}"; do
              sed -i 's/=/:/' $val
            done  
            echo "starting"
            for key in "${!container_dict[@]}"; do
              IFS=',' read -ra FACTFILES <<< "${{ inputs.file }}"
              for file in "${FACTFILES[@]}"; do
                echo "$key $file"
              done  
            done | xargs -n 2 -P ${#container_dict[@]} bash -c 'echo "Processing key=$0 file=$1"'
              
              
            
        
        

  
