name: Parallel 

on:
  workflow_dispatch:
    inputs:
      environment:
        description: input env
        type: choice
        options:
          - 'us-uat'
          - 'us-uat,us-si'
          - 'us-uat,us-si,eu-ki'
      file:
        description: input file
        type: choice
        default: 'julu'
        options:
          - 'julu'
          - 'julu,sibun'
          - 'julu,sibun,bagha'
      single_file:
        description: input single file
        type: string
        default: ''   
jobs:
  bagha:
    runs-on: ubuntu-latest
    env:
      us-uat: fxgmsuat
      us-si: fxgmssi
      eu-ki: baghauip
    steps: 
     
      - name: parallel execution
        uses: azure/CLI@v1
        with:
          azcliversion: 2.42.0
          inlineScript: |
            echo "starting mapping"
            echo "starting"
            IFS=',' read -ra container_dict <<< "${{ inputs.environment }}"
            upload_factfile() {
              local ENV_KEY="$1"
              local FACTFILE="$2"
              local CON="$3"
              echo "Uploading $FACTFILE to $ENV_KEY and $CON"
                  }
              IFS=',' read -ra FACTFILES <<< "${{ inputs.file }}"
              export -f upload_factfile
              for key in "${!container_dict[@]}"; do
                    for FACTFILE in "${FACTFILES[@]}"; do
                      echo "$key $FACTFILE ${$key}"
                    done
              done | xargs -n 3 -P ${#container_dict[@]} bash -c 'upload_factfile "$0" "$1" "$2"'
