name: Parallel 

on:
  workflow_dispatch:
    inputs:
      file:
        description: input file
        type: string
        default: ''

jobs:
  bagha:
    runs-on: ubuntu-latest
    steps: 
     
      - name: parallel execution
        uses: azure/CLI@v1
        with:
          azcliversion: 2.42.0
          inlineScript: |
            echo "starting mapping"
            declare -A container_dict
            container_dict["uat"]="fxgmsuat"
            container_dict["si"]="fxgmssi"
            container_dict["uat-eu"]="fxgmsuat"
            container_dict["perf"]="fxgmsperf"
            echo "starting"
            for key in "${!container_dict[@]}"; do
              IFS=',' read -ra FACTFILES <<< "${{ inputs.file }}"
              for file in "${FACTFILES[@]}"; do
                echo "$key"
              done  
            done | xargs -n 1 -P ${#container_dict[@]} bash -c 'echo "Processing key=$0"'
