name: Parallel 

on:
  workflow_dispatch:
    inputs:
      file:
        description: input file
        type: string
        default: ''
      single_file:
        description: input single file
        type: string
        default: ''   
jobs:
  bagha:
    runs-on: ubuntu-latest
    steps: 
     
      - name: parallel execution
        uses: azure/CLI@v1
        with:
          azcliversion: 2.42.0
          inlineScript: |
            echo "starting mapping"
            declare -A container_dict
            container_dict["us-uat"]="fxgmsuat"
            container_dict["us-si"]="fxgmssi"
            container_dict["uat-eu"]="fxgmsuat"
            container_dict["us-perf"]="fxgmsperf"
            echo "starting"
            for key in "${!container_dict[@]}"; do
              IFS=',' read -ra FACTFILES <<< "${{ inputs.file }}"
              if [[ "$key" =~ ^us ]]; then
                echo "STORAGE_ACCOUNT_US=lowmw" >> $GITHUB_ENV
              else
                exit 0
                if [ -n "${{ github.event.inputs.Single_Factfile }}" ]; then
                  exit 0
                else
                  IFS=',' read -ra FACTFILES <<< "${{ github.event.inputs.file }}"
                    for file in "${FACTFILES[@]}"; do
                      echo "$key $file"
                    done
                fi
              fi  
            done | xargs -n 2 -P ${#container_dict[@]} bash -c 'echo "Processing key=$0 file=$1'"
