name: Parse

on:
  workflow_dispatch:
    inputs:
      environment:
        description: provide your env
        type: choice
        default: ''
        options: 
          - ''
          - 'usuat'
          - 'usuat,euuat'
      comb_environment:
        description: provide your env
      Release_ver:
        description: provide your ver  
        
          
jobs:
  fetch-inputs:
    runs-on: ubuntu-latest
    outputs:
      env_array: ${{ steps.max.outputs.env_array}}
    steps:
      - name: max
        id: max
        run:  |
          echo "job 1"
          if [[ inputs.environment == '' ]]; then 
            envs=${{ inputs.comb_environment }}
          else
            envs=${{ inputs.environment }}
          fi  
          envs=$(echo "$envs" | tr ',' '\n' | jq -R . | jq -cs .)
          echo "env_array=$envs" >> "$GITHUB_OUTPUT"
  validate-usuat:
    needs: [fetch-inputs]
    if: ${{ contains(fromJson(needs.fetch-inputs.outputs.env_array),'usuat')}}
    runs-on: ubuntu-latest
    steps:
      - name: validate
        run:  |
          echo "Tiger"
  switch-usuat:
    needs: [fetch-inputs,validate-usuat]
    if: ${{ contains(fromJson(needs.fetch-inputs.outputs.env_array),'usuat')}}
    runs-on: ubuntu-latest
    steps:
      - name: set env
        run: |
          echo "env set"
  validate-euuat:
    needs: [fetch-inputs]
    if: ${{ contains(fromJson(needs.fetch-inputs.outputs.env_array),'euuat')}}
    runs-on: ubuntu-latest
    steps:
      - name: validate
        run:  |
          echo "Bagha"
  switch-euuat:
    runs-on: ubuntu-latest
    needs: [fetch-inputs,validate-euuat]
    if: ${{ contains(fromJson(needs.fetch-inputs.outputs.env_array),'euuat')}}
    steps:
      - name: set env new
        run:  |
          echo "job"
  portal-update:
      runs-on: ubuntu-latest
      needs: [fetch-inputs,switch-usuat,switch-euuat]
      if: always()
      steps:
       - name: Checkout repo
         uses: actions/checkout@v4
         with:
           path: ${{ github.workspace }}/my_repo
           
       - name: Install jq and yq
         run:  |
               sudo apt-get update
               sudo apt-get install -y jq 
               sudo apt-get install -y yq
               
       - name: Extract release version & Trigger API using POST Request
         working-directory: ${{ github.workspace }}/my_repo
         run: |
          set -e  # Exit on error
          TriggerApi() {
          # Convert YAML to JSON and extract the tag
          local e="$1"
          echo "$e"
          releaseversion=${{ inputs.release_ver }}
          echo "${releaseversion}"
          echo "Initiating Portal update through API"
          portal_codes='${{ vars.CODES_JSON }}'
          if [ -z "$portal_codes" ]; then
           echo "Failed to read portal-codes.json. Skipping..."
           exit 0
           fi
          echo "Successfully read portal-codes.json"
          if ! code=$(echo "$portal_codes" | jq -r ".${e}" 2>/dev/null); then
           echo "Failed to parse code for environment: ${e}. Skipping.."
           exit 0
           fi
          echo "Successfully retrieved code: $code for ${e}"
           if [ "$code" == "null" ] || [ -z "$code" ]; then
           echo "Code not found for environment ${envi}. Skipping..."
           exit 0
           fi
          echo "Environment: $e | Release Version: $releaseversion | Code: $code"
          }
          IFS=',' read -ra array <<< "usuat,euuat"
          export -f TriggerApi
          for e in ${!array[@]}; do
            echo "the env is $e"
            if [[ "${{ needs.switch-usuat.result }}" == "failure" || "${{ needs.switch-usuat.result }}" == "skipped" ]]  && [ "${array[$e]}" == "usuat" ]; then
              echo "Skipping portal update for environment: usuat due to failure in job switch-${array[$e]}."
              unset 'array[$e]'
            elif [[ "${{ needs.switch-euuat.result }}" == "failure" || "${{ needs.switch-euuat.result }}" == "skipped" ]]  && [ "${array[$e]}" == "euuat" ]; then
              echo "Skipping portal update for environment: euuat due to failure in job switch-${array[$e]}."
              unset 'array[$e]'
            fi
          done
          myarray=(${array[@]})
          [ ${#myarray[@]} != 0 ]  && echo "The environment array is having values" || { echo "The environment array is not holding any values"; exit 1; }
          for e in "${myarray[@]}"; do
            echo "$e" 
          done  | xargs -n 1 -P 2 bash -c 'TriggerApi "$0"'
