name: Parse

on:
  workflow_dispatch:
    inputs:
      environment:
        description: provide your env
        type: choice
        options: 
          - 'usuat,euuat'
      comb_environment:
        description: provide your env
        
          
jobs:
  switch-usuat:
    runs-on: ubuntu-latest
    steps:
      - name: set env
        run: |
          echo "env set"
  switch-euuat:
    runs-on: ubuntu-latest
    steps:
      - name: set env new
        run:  |
          exit 1
  portal-update:
      runs-on: ubuntu-latest
      needs: [switch-usuat,switch-euuat]
      if: always()
      steps:
       - name: Checkout repo
         uses: actions/checkout@v4
         with:
           path: ${{ github.workspace }}/my_repo
           
       - name: Install jq and yq
         run:  |
               sudo apt-get update
               sudo apt-get install -y jq 
               sudo apt-get install -y yq
               
       - name: Extract release version & Trigger API using POST Request
         working-directory: ${{ github.workspace }}/my_repo
         run: |
          set -e  # Exit on error
          env_array=("usuat" "euuat") # declare Array
          TriggerApi() {
          # Convert YAML to JSON and extract the tag
          local e="$1"
          echo "$e"
          releaseversion=$(yq -r '.["julu-deploy"].global.image.tag' "./deployment/aks/chart/${e}.values.yaml")
          echo "${releaseversion}"
          echo "Initiating Portal update through API"
          portal_codes='${{ vars.CODES_JSON }}'
          if [ -z "$portal_codes" ]; then
           echo "Failed to read portal-codes.json. Skipping..."
           exit 0
           fi
          echo "Successfully read portal-codes.json"
          if ! code=$(echo "$portal_codes" | jq -r ".${e}" 2>/dev/null); then
           echo "Failed to parse code for environment: ${e}. Skipping.."
           exit 0
           fi
          echo "Successfully retrieved code: $code for ${e}"
           if [ "$code" == "null" ] || [ -z "$code" ]; then
           echo "Code not found for environment ${envi}. Skipping..."
           exit 0
           fi
          echo "Environment: $e | Release Version: $releaseversion | Code: $code"
          }
          IFS=',' read -ra array <<< "${{ inputs.environment || inputs.multiple_environments }}"
          export -f TriggerApi
          for e in ${!array[@]}; do
            env=${array[$e]}
            if ${{ needs.switch-$env.result }} == 'failure'; then
              echo "Skipping portal update for environment: ${array[$e]} due to failure in job switch-${array[$e]}."
              unset 'array[$e]'
            fi
          done
          array=(${array[@]})
          for e in "${array[@]}"; do
            echo "$e" 
          done  | xargs -n 1 -P 2 bash -c 'TriggerApi "$0"'
