name: script-executor


on:
  workflow_dispatch:
    inputs:
      Select:
        description: "Provide Scripts which need to be ignored during execution"
        type: boolean
        default: false
      Preview:
        description: "scipt"
        type: boolean
        default: false
jobs:
      
  Select:
    if: ${{ inputs.Select }}
    runs-on: ubuntu-latest
    steps:
      - name: print
        run:  |
          for i in "${array[@]}"
            do
              echo $i
            done  
      - name: echo
        run:  |
          echo -e "\e[31>mSelect ran\e[0m"


  Preview_step1:
    needs:  [ Select]
    if: ${{ inputs.Preview }}
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run:  |
          echo -e "\e[32>mSelect ran\e[0m"
  mail_success:
    needs: [Preview_step1,Select]
    runs-on: ubuntu-latest
    if: success()
    steps:
      - name: echo mail
        run:  |
          echo "sending mail"
  mail_failure:
    needs: [Preview_step1,Select]
    runs-on: ubuntu-latest
    if: failure() || cancelled()
    steps:
      - name: echo mail
        run:  |
          echo "sending mail"          
