name: script-executor


on:
  workflow_dispatch:
    inputs:
      IGNORE_SCRIPTS:
        description: "Provide Scripts which need to be ignored during execution"
        type: string
jobs:
  first:
    runs-on: ubuntu-latest
    outputs:
      scripts_array: ${{ steps.jq.outputs.Script_array}}
    steps:
      - name: jsonift
        id: jq
        run:  |
          if [ -n ${{ inputs.IGNORE_SCRIPTS }} ]; then
            array="${{ inputs.IGNORE_SCRIPTS }}"
            json_array=$(echo "$array" | tr ',' '\n' | jq -R . | jq -cs .)
            echo "Script_array=$json_array" >> "$GITHUB_OUTPUT"
          fi  
      
  Select:
    needs: [first]
    if: always() && !contains(fromJson(needs.first.outputs.scripts_array), 'Select'  )
    runs-on: ubuntu-latest
    steps:
      - name: print
        run:  |
          array=${{ needs.first.outputs.scripts_array }}
          for i in "${array[@]}"
            do
              echo $i
            done  
      - name: echo
        run:  |
          echo -e "\e[31>mSelect ran\e[0m"


  Preview_step1:
    needs:  [ Select, first ]
    if: always() && !contains(fromJson(needs.first.outputs.scripts_array), 'Preview_step' )
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run:  |
          echo -e "\e[32>mSelect ran\e[0m"
