name: script-executor


on:
  workflow_dispatch:
    inputs:
      IGNORE_SCRIPTS:
        description: "Provide Scripts which need to be ignored during execution"
jobs:
  first:
    runs-on: ubuntu-latest
    outputs:
      scripts_array: ${{ steps.jq.outputs.Script_array}}
    steps:
      - name: jsonift
        id: jq
        run:  |
          if [ -n ${{ inputs.IGNORE_SCRIPTS }} ]; then
            IFS=',' read -ra array <<< "${{ inputs.IGNORE_SCRIPTS }}"
            json_array=$(echo "${array[@]}" | jq -R . )
            echo "Script_array=$json_array" >> "$GITHUB_OUTPUT"
          fi  
      
  Select:
    needs: [first]
    if: always() && !contains(fromJson('["Select"]'), needs.first.outputs.scripts_array )
    runs-on: ubuntu-latest
    steps:
      - name: print
        run:  |
          echo "a"
      - name: echo
        run:  |
          echo -e "\e[31>mSelect ran\e[0m"


  Preview_step1:
    needs:  [ Select, first ]
    if: always() && !contains(fromJson('["Preview_step1"]'), needs.first.outputs.scripts_array )
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run:  |
          echo -e "\e[32>mSelect ran\e[0m"
